{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% load blog_filter %}
{% block body %}
  <!-- ============================================== HEADER : END ============================================== -->
  <div class="breadcrumb">
    <div class="container">
      <div class="breadcrumb-inner">
        <ul class="list-inline list-unstyled">
          <li><a href="/">Home</a></li>
          <li class="active">Blog Details</li>
        </ul>
      </div>
      <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.breadcrumb -->
  <div class="body-content">
    <div class="container">
      <div class="row">
        <div class="blog-page">
          <div class="col-xs-12 col-sm-9 col-md-9 rht-col">
            <div class="blog-post wow fadeInUp">
              <div class="col-lg-12">
                <img class="img-responsive center-block"
                     src="/media/{{ blog.image }}"
                     alt="">
              </div>
              <h1>{{ blog.title }}</h1>
              <span class="author">{{ blog.user.first_name }} {{ blog.user.last_name }}</span>
              <span class="review">7 Comments</span>
              <span class="date-time">{{ blog.created_at }}</span>
              <p>{{ blog.description|safe }}</p>
              <div class="social-media">
                <span>share post:</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
                <a href="#" class="hidden-xs"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <div class="blog-review wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="title-review-comments">{{ blog.id|comments_counts }} comments</h3>
                </div>
                {% for comment in comments %}
                  <div class="col-md-2 col-sm-2">
                    <img src="assets/images/testimonials/member1.png"
                         alt="Responsive image"
                         class="img-rounded img-responsive">
                  </div>
                  <div class="col-md-10 col-sm-10 blog-comments outer-bottom-xs">
                    <div class="blog-comments inner-bottom-xs">
                      <h4 onclick="showDiv('reply_comments_{{ comment.id }}')">
                        {{ comment.user.first_name }} {{ comment.user.last_name }}
                      </h4>
                      <span class="review-action pull-right">
                        {{ comment.created_at|comment_time }} ago
                        {% if user.is_authenticated %}
                        &sol; <button class="btn-link"
                                onclick="showDiv('update_comment_form_{{ comment.id }}')">Repost</button>
                        &sol;
                        <button class="btn-link" onclick="showDiv('reply_form_{{ comment.id }}')">Reply</button>
                        &sol;
                        <form action="/user/comment/delete/" method="post" style="display:inline;">
                          {% csrf_token %}
                          <input type="hidden" name="comment" value="{{ comment.id }}">
                          <input type="hidden" name="blog" value="{{ blog.id }}">
                          <button type="submit" class='btn btn-link' style="padding:0px;">Delete</button>
                        </form>
                        {% endif %}
                      </span>
                      <p>{{ comment.description }}</p>
                    </div>
                    <div id="reply_comments_{{ comment.id }}"
                         class="blog-comments-responce outer-top-xs"
                         style="display:none">
                      <div class="row">
                        {% for reply in comment.id|reply_comments %}
                          <div class="col-md-2 col-sm-2">
                            <img src="assets/images/testimonials/member3.png"
                                 alt="Responsive image"
                                 class="img-rounded img-responsive">
                          </div>
                          <div class="col-md-10 col-sm-10">
                            <div class=" inner-bottom-xs">
                              <h4>{{ reply.user.first_name }} {{ reply.user.last_name }}</h4>
                              <span class="review-action pull-right">
                                {{ reply.created_at|comment_time }} ago
                                {% if user.is_authenticated %}
                                &sol; <button class="btn-link"
                                        onclick="showDiv('update_reply_form_{{ reply.id }}')">Repost</button>
                                &sol;
                                <form action="/user/comment/delete/" method="post" style="display:inline;">
                                  {% csrf_token %}
                                  <input type="hidden" name="comment" value="{{ reply.id }}">
                                  <input type="hidden" name="blog" value="{{ blog.id }}">
                                  <button type="submit" class='btn btn-link' style="padding:0px;">Delete</button>
                                </form>
                                {% endif %}
                              </span>
                              <p>{{ reply.description }}</p>
                            </div>
                          </div>
                          <div id="update_reply_form_{{ reply.id }}" style="display:none">
                            <form action="/user/comment/"
                                  method="post"
                                  class="register-form"
                                  role="form">
                              {% csrf_token %}
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="info-title" for="exampleInputComments">
                                    Repost Your Reply <span>*</span>
                                  </label>
                                  <textarea class="form-control unicase-form-control"
                                            id="exampleInputComments"
                                            name="description"
                                            required></textarea>
                                </div>
                              </div>
                              <input type="hidden" name="user" value="{{ user.id }}">
                              <input type="hidden" name="blog" value="{{ blog.id }}">
                              <input type="hidden" name="pk" value="{{ reply.id }}">
                              <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                              <div class="col-md-12 outer-bottom-small m-t-20">
                                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit Reply</button>
                              </div>
                            </form>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div id="reply_form_{{ comment.id }}" style="display:none">
                      <form action="/user/comment/"
                            method="post"
                            class="register-form"
                            role="form">
                        {% csrf_token %}
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="info-title" for="exampleInputComments">
                              Add Your Reply <span>*</span>
                            </label>
                            <textarea class="form-control unicase-form-control"
                                      id="exampleInputComments"
                                      name="description"
                                      required></textarea>
                          </div>
                        </div>
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <input type="hidden" name="blog" value="{{ blog.id }}">
                        <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                        <div class="col-md-12 outer-bottom-small m-t-20">
                          <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit Reply</button>
                        </div>
                      </form>
                    </div>
                    <div id="update_comment_form_{{ comment.id }}" style="display:none">
                      <form action="/user/comment/"
                            method="post"
                            class="register-form"
                            role="form">
                        {% csrf_token %}
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="info-title" for="exampleInputComments">
                              Repost Your Comment <span>*</span>
                            </label>
                            <textarea class="form-control unicase-form-control"
                                      id="exampleInputComments"
                                      name="description"
                                      required></textarea>
                          </div>
                        </div>
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <input type="hidden" name="blog" value="{{ blog.id }}">
                        <input type="hidden" name="pk" value="{{ comment.id }}">
                        <div class="col-md-12 outer-bottom-small m-t-20">
                          <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit Reply</button>
                        </div>
                      </form>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="blog-write-comment outer-bottom-xs outer-top-xs">
              <div class="row">
                <div class="col-md-12">
                  <h4>Leave A Comment</h4>
                </div>
                <form action="/user/comment/"
                      method="post"
                      class="register-form"
                      role="form">
                  {% csrf_token %}
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="info-title" for="exampleInputComments">
                        Your Comments <span>*</span>
                      </label>
                      <textarea class="form-control unicase-form-control"
                                id="exampleInputComments"
                                name="description"
                                required></textarea>
                    </div>
                  </div>
                  <input type="hidden" name="user" value="{{ user.id }}">
                  <input type="hidden" name="blog" value="{{ blog.id }}">
                  <div class="col-md-12 outer-bottom-small m-t-20">
                    <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit Comment</button>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 sidebar" style="padding:0px">
            <div class="sidebar-module-container">
              <div class="search-area outer-bottom-small">
                <form id="search-form">
                  <div class="control-group">
                    <input class="search-field" name='q' placeholder="Type to search" />
                  </div>
                </form>
              </div>
              <!-- ==============================================CATEGORY============================================== -->
              <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                <h3 class="section-title">Category</h3>
                <div class="sidebar-widget-body m-t-10">
                  <div class="accordion">
                  <ul>
                    {% for category in ''|blog_categories %}
                    <li>
                      <a class="item" href="/user/blogs/{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <!-- /.accordion-group -->
                    </ul>
                  </div>
                  <!-- /.accordion -->
                </div>
                <!-- /.sidebar-widget-body -->
              </div>
              <!-- /.sidebar-widget -->
              <!-- ============================================== CATEGORY : END ============================================== -->
              <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                <h3 class="section-title">Tab Widget</h3>
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#popular" data-toggle="tab">popular post</a>
                  </li>
                  <li>
                    <a href="#recent" data-toggle="tab">recent post</a>
                  </li>
                </ul>
                <div class="tab-content" style="padding-left:0">
                  <div class="tab-pane active m-t-20" id="popular">
                    {% for blog in ''|top_blogs_with_most_comments %}
                      <div class="blog-post inner-bottom-30 ">
                        <a href="/user/blog/{{ blog.id }}"><img class="img-responsive"
                            src="/media/{{ blog.image }}"
                            alt=""></a>
                        <h4>
                          <a href="/user/blog/{{ blog.id }}">{{ blog.title }}</a>
                        </h4>
                        <span class="review">{{ blog.id|comments_counts }} Comments</span>
                        <span class="date-time">{{ blog.created_at }}</span>
                        <p>{{ blog.description|truncate_description|safe }}...</p>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="tab-pane m-t-20" id="recent">
                    {% for blog in ''|recently_created_blogs_view %}
                      <div class="blog-post inner-bottom-30 ">
                        <a href="/user/blog/{{ blog.id }}"><img class="img-responsive"
                            src="/media/{{ blog.image }}"
                            alt=""></a>
                        <h4>
                          <a href="/user/blog/{{ blog.id }}">{{ blog.title }}</a>
                        </h4>
                        <span class="review">{{ blog.id|comments_counts }} Comments</span>
                        <span class="date-time">{{ blog.created_at }}</span>
                        <p>{{ blog.description|truncate_description|safe }}...</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- ============================================== PRODUCT TAGS ============================================== -->
              <div class="sidebar-widget product-tag wow fadeInUp">
                <h3 class="section-title">Product Tags</h3>
                <div class="sidebar-widget-body outer-top-xs">
                  <div class="tag-list">
                    {% for category in ''|product_categories %}
                      <a class="item" title="Phone" href="/category/{{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                  </div>
                  <!-- /.tag-list -->
                </div>
                <!-- /.sidebar-widget-body -->
              </div>
              <!-- /.sidebar-widget -->
              <!-- ============================================== PRODUCT TAGS : END ============================================== -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
