{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% load blog_filter %}
{% block body %}
  <div class="breadcrumb">
    <div class="container">
      <div class="breadcrumb-inner">
        <ul class="list-inline list-unstyled">
          <li><a href="/">Home</a></li>
          <li class='active'>Blogs</li>
        </ul>
      </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
  </div><!-- /.breadcrumb -->

  <div class="body-content">
    <div class="container">
      <div class="row">
        <div class="blog-page">
          <div class="col-xs-12 col-sm-9 col-md-9 rht-col">
            {% if blogs %}
						{% for blog in blogs %}
							<div class="blog-post  wow fadeInUp">
								<a href="/user/blog/{{ blog.id }}">
									<img class="img-responsive center-block"
											src="/media/{{ blog.image }}"
											alt="">
								</a>
								<h1>
									<a href="/user/blog/{{ blog.id }}">{{ blog.title }}</a>
								</h1>
								<span class="author">{{ blog.user.first_name }} {{ blog.user.last_name }}</span>
								<span class="review">{{ blog.id|comments_counts }} Comments</span>
								<span class="date-time">{{ blog.created_at }}</span>
								<p>
									{{ blog.description|truncate_description|safe }}...
								</p>
								<a href="/user/blog/{{ blog.id }}" class="btn btn-upper btn-primary read-more">read more</a>
							</div>
							<hr style="margin:0px;">
						{% endfor %}
            {% else %}
              <div style="display: flex; justify-content: center; align-items: center; height: 230px; background-color:white;">
                <div class="inner-container">
                  <p class="text-center">No Data Found</p>
                </div>
              </div>
            {% endif %}
            <!-- /.filters-container -->
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 sidebar" style="padding:0px">
            <div class="sidebar-module-container">
              <div class="search-area outer-bottom-small">
                <form id="search-form">
                  <div class="control-group">
                    <input class="search-field" name='q' placeholder="Type to search" />
                  </div>
                </form>
              </div>
              <!-- ==============================================CATEGORY============================================== -->
              <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                <h3 class="section-title">Category</h3>
                <div class="sidebar-widget-body m-t-10">
                  <div class="accordion">
                    {% if ''|blog_categories %}
                      <ul>
                        {% for category in ''|blog_categories %}
                          <li>
                            <a class="item" href="/user/blogs/{{ category.id }}">{{ category.name }}</a>
                          </li>
                        {% endfor %}
                        <!-- /.accordion-group -->
                      </ul>
                    {% else %}
                      <p class="text-center">No Data Found</p>
                    {% endif %}
                  </div>
                  <!-- /.accordion -->
                </div>
                <!-- /.sidebar-widget-body -->
              </div>
              <!-- /.sidebar-widget -->
              <!-- ============================================== CATEGORY : END ============================================== -->
              <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                <h3 class="section-title">Tab Widget</h3>
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#popular" data-toggle="tab">popular post</a>
                  </li>
                  <li>
                    <a href="#recent" data-toggle="tab">recent post</a>
                  </li>
                </ul>
                <div class="tab-content" style="padding-left:0">
                  <div class="tab-pane active m-t-20" id="popular">
                  {% if ''|top_blogs_with_most_comments %}
                    {% for blog in ''|top_blogs_with_most_comments %}
                      <div class="blog-post inner-bottom-30 ">
                        <a href="/user/blog/{{ blog.id }}"><img class="img-responsive"
                            src="/media/{{ blog.image }}"
                            alt=""></a>
                        <h4>
                          <a href="/user/blog/{{ blog.id }}">{{ blog.title }}</a>
                        </h4>
                        <span class="review">{{ blog.id|comments_counts }} Comments</span>
                        <span class="date-time">{{ blog.created_at }}</span>
                        <p>{{ blog.description|truncate_description|safe }}...</p>
                      </div>
                    {% endfor %}
                  {% else %}
                    <p class="text-center">No Data Found</p>
                  {% endif %}
                  </div>
                  <div class="tab-pane m-t-20" id="recent">
                    {% if ''|recently_created_blogs_view %}
                      {% for blog in ''|recently_created_blogs_view %}
                        <div class="blog-post inner-bottom-30 ">
                          <a href="/user/blog/{{ blog.id }}"><img class="img-responsive"
                              src="/media/{{ blog.image }}"
                              alt=""></a>
                          <h4>
                            <a href="/user/blog/{{ blog.id }}">{{ blog.title }}</a>
                          </h4>
                          <span class="review">{{ blog.id|comments_counts }} Comments</span>
                          <span class="date-time">{{ blog.created_at }}</span>
                          <p>{{ blog.description|truncate_description|safe }}...</p>
                        </div>
                      {% endfor %}
                    {% else %}
                      <p class="text-center">No Data Found</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- ============================================== PRODUCT TAGS ============================================== -->
              <div class="sidebar-widget product-tag wow fadeInUp">
                <h3 class="section-title">Product Tags</h3>
                <div class="sidebar-widget-body outer-top-xs">
                  <div class="tag-list">
                    {% if ''|product_categories %}
                      {% for category in ''|product_categories %}
                        <a class="item" title="Phone" href="/category/{{ category.name }}">{{ category.name }}</a>
                      {% endfor %}
                    {% else %}
                      <p class="text-center">No Data Found</p>
                    {% endif %}
                  </div>
                  <!-- /.tag-list -->
                </div>
                <!-- /.sidebar-widget-body -->
              </div>
              <!-- /.sidebar-widget -->
              <!-- ============================================== PRODUCT TAGS : END ============================================== -->
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================== BRANDS CAROUSEL ============================================== -->
      <div id="brands-carousel" class="logo-slider wow fadeInUp">
        <div class="logo-slider-inner">
          <div id="brand-slider"
               class="owl-carousel brand-slider custom-carousel owl-theme">
            <div class="item m-t-15">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand1.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item m-t-10">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand2.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand3.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand4.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand5.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand6.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand2.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand4.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand1.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand5.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
          </div>
          <!-- /.owl-carousel #logo-slider -->
        </div>
        <!-- /.logo-slider-inner -->
      </div>
      <!-- /.logo-slider -->
      <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div>
  </div>
{% endblock %}
