{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% block body %}
  <!-- ============================================== HEADER : END ============================================== -->
  <div class="breadcrumb">
    <div class="container">
      <div class="breadcrumb-inner">
        <ul class="list-inline list-unstyled">
          <li><a href="/">Home</a></li>
          {% for category in product.category|fetch_all_parent_category %}
            <li><a href="/category/{{ category }}">{{ category }}</a></li>
          {% endfor %}
          <li><a href="/category/{{ category }}">{{ product.category }}</a></li>
          <li class='active'>{{ product.name }}</li>
        </ul>
      </div>
      <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.breadcrumb -->
  <div class="body-content outer-top-xs">
    <div class='container'>
      <div class='row single-product'>
        <div class='col-xs-12 col-sm-12 col-md-3 sidebar'>
          <div class="sidebar-module-container">
            <div class="home-banner outer-top-n outer-bottom-xs">
              <img src="{% static 'assets/images/banners/LHS-banner.jpg' %}" alt="Image">
            </div>
            <!-- ============================================== HOT DEALS ============================================== -->
            <div class="sidebar-widget hot-deals outer-bottom-xs">
              <h3 class="section-title">Hot deals</h3>
              <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
                {% for product in hot_deals %}
                  <div class="item">
                    <div class="products">
                      <div class="hot-deal-wrapper">
                        <div class="image">
                          <a href="#">
                            <img src="/media/{{ product.id|product_attributes }}" alt="">
                            <img src="/media/{{ product.id|product_attributes }}"
                                 alt=""
                                 class="hover-image">
                          </a>
                        </div>
                        <div class="sale-offer-tag">
                          <span>49%
                            <br>
                          off</span>
                        </div>
                        <div class="timing-wrapper">
                          <div class="box-wrapper">
                            <div class="date box">
                              <span class="key">120</span> <span class="value">DAYS</span>
                            </div>
                          </div>
                          <div class="box-wrapper">
                            <div class="hour box">
                              <span class="key">20</span> <span class="value">HRS</span>
                            </div>
                          </div>
                          <div class="box-wrapper">
                            <div class="minutes box">
                              <span class="key">36</span> <span class="value">MINS</span>
                            </div>
                          </div>
                          <div class="box-wrapper">
                            <div class="seconds box">
                              <span class="key">60</span> <span class="value">SEC</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.hot-deal-wrapper -->
                      <div class="product-info text-left m-t-20">
                        <h3 class="name">
                          <a href="/category/{{ product.category }}/{{ product.slug }}/">{{ product.name }}</a>
                        </h3>
                        <div class="">
                            {% for star in 5|range_filter %}
                              {% if star < product|product_rating %}
                                  <span class="star_{{ product|product_rating }}">★</span>
                              {% else %}
                                  <span class="empty-star">★</span>
                              {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product-price">
                          <span class="price">${{ product.price }}</span> <span class="price-before-discount">$800.00</span>
                        </div>
                        <!-- /.product-price -->
                      </div>
                      <!-- /.product-info -->
                      <div class="cart clearfix animate-effect">
                        <div class="action">
                          <div class="add-cart-button btn-group">
                            <form action='/add_cart/' method='post'>
                              {% csrf_token %}
                              <input type='hidden' name='product' value='{{ product.id }}'>
                              <input type='hidden' name='user' value='{{ user.id }}'>
                              <button type='submit'
                                      data-toggle="tooltip"
                                      class="btn btn-primary icon"
                                      title="Add Cart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                              </button>
                            </form>
                            
                          </div>
                        </div>
                        <!-- /.action -->
                      </div>
                      <!-- /.cart -->
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- /.sidebar-widget -->
            </div>
            <!-- ============================================== HOT DEALS: END ============================================== -->
            <!-- ============================================== NEWSLETTER ============================================== -->
            <div class="sidebar-widget newsletter outer-bottom-small outer-top-vs">
              <h3 class="section-title">Newsletters</h3>
              <div class="sidebar-widget-body outer-top-xs">
                <p>Sign Up for Our Newsletter!</p>
                <form>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="exampleInputEmail1"
                           placeholder="Subscribe to our newsletter">
                  </div>
                  <button class="btn btn-primary">Subscribe</button>
                </form>
              </div>
              <!-- /.sidebar-widget-body -->
            </div>
            <!-- /.sidebar-widget -->
            <!-- ============================================== NEWSLETTER: END ============================================== -->
            <!-- ============================================== Testimonials============================================== -->
            <div class="sidebar-widget  outer-top-vs ">
              <div id="advertisement" class="advertisement">
                <div class="item">
                  <div class="avatar">
                    <img src="assets/images/testimonials/member1.png" alt="Image">
                  </div>
                  <div class="testimonials">
                    <em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em>
                  </div>
                  <div class="clients_author">
                    John Doe	<span>Abc Company</span>
                  </div>
                  <!-- /.container-fluid -->
                </div>
                <!-- /.item -->
                <div class="item">
                  <div class="avatar">
                    <img src="assets/images/testimonials/member3.png" alt="Image">
                  </div>
                  <div class="testimonials">
                    <em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em>
                  </div>
                  <div class="clients_author">
                    Stephen Doe	<span>Xperia Designs</span>
                  </div>
                </div>
                <!-- /.item -->
                <div class="item">
                  <div class="avatar">
                    <img src="assets/images/testimonials/member2.png" alt="Image">
                  </div>
                  <div class="testimonials">
                    <em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em>
                  </div>
                  <div class="clients_author">
                    Saraha Smith	<span>Datsun &amp; Co</span>
                  </div>
                  <!-- /.container-fluid -->
                </div>
                <!-- /.item -->
              </div>
              <!-- /.owl-carousel -->
            </div>
            <!-- ============================================== Testimonials: END ============================================== -->
          </div>
        </div>
        <!-- /.sidebar -->
        <div class='col-xs-12 col-sm-12 col-md-9 rht-col'>
          <div class="detail-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 gallery-holder">
                <div class="product-item-holder size-big single-product-gallery small-gallery">
                  <div id="owl-single-product">
                    <div class="single-product-gallery-item" id="slide1">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p1.jpg">
                        <img class="img-responsive"
                             alt="image"
                             src="/media/{{ product.id|product_attributes }}"
                             data-echo="/media/{{ product.id|product_attributes }}" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide2">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p2.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p2.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide3">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p3.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p3.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide4">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p4.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p4.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide5">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p5.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p5.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide6">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p6.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p6.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide7">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p7.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p7.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide8">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p8.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p8.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                    <div class="single-product-gallery-item" id="slide9">
                      <a data-lightbox="image-1"
                         data-title="Gallery"
                         href="assets/images/products/p9.jpg">
                        <img class="img-responsive"
                             alt=""
                             src="assets/images/blank.gif"
                             data-echo="assets/images/products/p9.jpg" />
                      </a>
                    </div>
                    <!-- /.single-product-gallery-item -->
                  </div>
                  <!-- /.single-product-slider -->
                  <div class="single-product-gallery-thumbs gallery-thumbs">
                    <div id="owl-single-product-thumbnails">
                      <div class="item">
                        <a class="horizontal-thumb active"
                           data-target="#owl-single-product"
                           data-slide="1"
                           href="#slide1">
                          <img class="img-responsive"
                               alt="product_image"
                               src="/media/{{ product.id|product_attributes }}"
                               data-echo="/media/{{ product.id|product_attributes }}" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="2"
                           href="#slide2">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p2.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="3"
                           href="#slide3">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p3.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="4"
                           href="#slide4">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p4.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="5"
                           href="#slide5">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p5.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="6"
                           href="#slide6">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p6.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="7"
                           href="#slide7">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p7.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="8"
                           href="#slide8">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p8.jpg" />
                        </a>
                      </div>
                      <div class="item">
                        <a class="horizontal-thumb"
                           data-target="#owl-single-product"
                           data-slide="9"
                           href="#slide9">
                          <img class="img-responsive"
                               alt=""
                               src="assets/images/blank.gif"
                               data-echo="assets/images/products/p9.jpg" />
                        </a>
                      </div>
                    </div>
                    <!-- /#owl-single-product-thumbnails -->
                  </div>
                  <!-- /.gallery-thumbs -->
                </div>
                <!-- /.single-product-gallery -->
              </div>
              <!-- /.gallery-holder -->
              <div class='col-sm-12 col-md-8 col-lg-8 product-info-block'>
                <div class="product-info">
                  <h1 class="name">{{ product.name }}</h1>
                  <div class="rating-reviews m-t-20">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="pull-left">
                          <div class="">
                            {% for star in 5|range_filter %}
                              {% if star < product|product_rating %}
                                  <span class="star_{{ product|product_rating }}">★</span>
                              {% else %}
                                  <span class="empty-star">★</span>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="pull-left">
                          <div class="reviews">
                            <a href="#" class="lnk">({{ product|product_review_users_count }} Reviews)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.rating-reviews -->
                  <div class="stock-container info-container m-t-10">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="pull-left">
                          <div class="stock-box">
                            <span class="label">Availability :</span>
                          </div>
                        </div>
                        <div class="pull-left">
                          <div class="stock-box">
                            <span class="value">In Stock</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.stock-container -->
                  <div class="description-container m-t-20">
                    <p>{{ product.description }}</p>
                  </div>
                  <!-- /.description-container -->
                  <div class="price-container info-container m-t-30">
                    <div class="row">
                      <div class="col-sm-6 col-xs-6">
                        <div class="price-box">
                          <span class="price">${{ product.price }}</span>
                          <span class="price-strike">$900.00</span>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <div class="favorite-button m-t-5">
                          <form action='/add_to_wishlist/'
                                method='post'
                                style='float: left;
                                       margin-right:3px'>
                            {% csrf_token %}
                            <input type='hidden' name='product' value='{{ product.id }}'>
                            <input type='hidden' name='user' value='{{ user.id }}'>
                            <button type='submit'
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    class="btn btn-primary"
                                    title="Wishlist">
                              <i class="fa fa-heart"></i>
                            </button>
                          </form>
                          <a class="btn btn-primary"
                             data-toggle="tooltip"
                             data-placement="right"
                             title="Add to Compare"
                             href="#">
                            <i class="fa fa-signal"></i>
                          </a>
                          <a class="btn btn-primary"
                             data-toggle="tooltip"
                             data-placement="right"
                             title="E-mail"
                             href="#">
                            <i class="fa fa-envelope"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.price-container -->
                  <div class="quantity-container info-container">
                    <div class="row">
                      <div class="qty">
                        <span class="label">Qty :</span>
                      </div>
                      <form action='/my_cart/' method='post'>
                        {% csrf_token %}
                        <div class="qty-count">
                          <div class="cart-quantity">
                            <div class="quant-input">
                              <div class="arrows">
                                <div class="arrow plus gradient">
                                  <span class="ir"><i class="icon fa fa-sort-asc"></i></span>
                                </div>
                                <div class="arrow minus gradient">
                                  <span class="ir"><i class="icon fa fa-sort-desc"></i></span>
                                </div>
                              </div>
                              <input type="number"
                                     name='quantity'
                                     value="{{ product.id|product_quantity:user }}"
                                     min="1"
                                     id="quantity-input">
                              <input type='hidden' name='user' value='{{ user.id }}'>
                              <input type='hidden' name='product' value='{{ product.id }}'>
                            </div>
                          </div>
                        </div>
                        <div class="add-btn">
                          <button type='submit' class="btn btn-primary">
                            <i class="fa fa-shopping-cart inner-right-vs"></i>
                            ADD TO CART
                          </button>
                        </div>
                      </form>
											<div class="add-btn">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productReview">
                          Add Review
                        </button>
                        <div class="modal fade" id="productReview" tabindex="-1" role="dialog" aria-labelledby="productReviewLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header text-center">
                                <h3 class="modal-title" id="productReviewLabel">Add your review</h3>
                              </div>
                              <form method="post" action="/user_review/" id="review-form">
                                <div class="modal-body">
                                  {% csrf_token %}
                                  <input type='hidden' name='user' value='{{ user.id }}'>
                                  <input type='hidden' name='product' value='{{ product.id }}'>
                                  <div class="form-group text-center">
                                    <h4 for="staticEmail" class="form-label">How much you like this product </h4>
                                    <div "star-rating">
                                      <span onclick="review(1)"
                                            class="star">★
                                      </span>
                                      <span onclick="review(2)"
                                            class="star">★
                                      </span>
                                      <span onclick="review(3)"
                                            class="star">★
                                      </span>
                                      <span onclick="review(4)"
                                            class="star">★
                                      </span>
                                      <span onclick="review(5)"
                                            class="star">★
                                      </span>
                                      <input type="hidden" name="review" id="output">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Title : </label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="titleInput" name="title">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Comment : </label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" id="commentInput" name="comment">
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-info">Add Review</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
											</div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.quantity-container -->
                </div>
                <!-- /.product-info -->
              </div>
              <!-- /.col-sm-7 -->
            </div>
            <!-- /.row -->
          </div>
          <div class="product-tabs inner-bottom-xs">
            <div class="row">
              <div class="col-sm-12 col-md-3 col-lg-3">
                <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                  <li class="active">
                    <a data-toggle="tab" href="#description">DESCRIPTION</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#review">REVIEW</a>
                  </li>
                </ul>
                <!-- /.nav-tabs #product-tabs -->
              </div>
              <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="tab-content">
                  <div id="description" class="tab-pane in active">
                    <div class="product-tab">
                      <p class="text">{{ product.description }}</p>
                    </div>
                  </div>
                  <!-- /.tab-pane -->
                  <div id="review" class="tab-pane">
                    <div class="product-tab">
                      <div class="product-reviews">
                        <h4 class="title">Customer Reviews</h4>
                        <div class="reviews">
                          {% for review in product|product_review %}
                          <div class="review">
                            <div class="review-title">
                              <span class="summary">{{ review.title }}</span><span class="date"><i class="fa fa-calendar"></i><span>1 days ago</span></span>
                            </div>
                            <div class="text">{{ review.comment }}</div>
                          </div>
                          {% endfor %}
                        </div>
                        <!-- /.reviews -->
                      </div>
                      <!-- /.product-reviews -->
                    </div>
                    <!-- /.product-tab -->
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.product-tabs -->
          <!-- ============================================== UPSELL PRODUCTS ============================================== -->
          <section class="section featured-product">
            <div class="row">
              <div class="col-lg-3">
                <h3 class="section-title">Upsell Products</h3>
                <div class="ad-imgs">
                  <img class="img-responsive"
                       src="assets/images/banners/home-banner1.jpg"
                       alt="">
                  <img class="img-responsive"
                       src="assets/images/banners/home-banner2.jpg"
                       alt="">
                </div>
              </div>
              <div class="col-lg-9">
                <div class="owl-carousel homepage-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs">
                  {% for product in products %}
                    <div class="item item-carousel">
                      <div class="products">
                        <div class="product">
                          <div class="product-image">
                            <div class="image">
                              <a href="/category/{{ product.category }}/{{ product.slug }}/">
                                <img src="/media/{{ product.id|product_attributes }}" alt="">
                              </a>
                            </div>
                            <!-- /.image -->
                            {% if product.tag is not None %}
                              <div class="tag {{ product.tag.lower }}">
                                <span>{{ product.tag }}</span>
                              </div>
                            {% endif %}
                          </div>
                          <!-- /.product-image -->
                          <div class="product-info text-left">
                            <h3 class="name">
                              <a href="/category/{{ product.category }}/{{ product.slug }}/">{{ product.name }}</a>
                            </h3>
                            <div class="">
  
                                {% for star in 5|range_filter %}
                                  {% if star < product|product_rating %}
                                      <span class="star_{{ product|product_rating }}">★</span>
                                  {% else %}
                                      <span class="empty-star">★</span>
                                  {% endif %}
                                {% endfor %}
  
                            </div>
                            <div class="description"></div>
                            <div class="product-price">
                              <span class="price">${{ product.price }}</span>
                              <span class="price-before-discount">$ 8000</span>
                            </div>
                            <!-- /.product-price -->
                          </div>
                          <!-- /.product-info -->
                          <div class="cart clearfix animate-effect">
                            <div class="action">
                              <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <form action='/add_cart/' method='post'>
                                    {% csrf_token %}
                                    <input type='hidden' name='product' value='{{ product.id }}'>
                                    <input type='hidden' name='user' value='{{ user.id }}'>
                                    <button type='submit'
                                            data-toggle="tooltip"
                                            class="btn btn-primary icon"
                                            title="Add Cart">
                                      <i class="fa fa-shopping-cart"></i>
                                    </button>
                                  </form>
                                  <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                </li>
                                <li class="lnk wishlist">
                                  <form action='/add_to_wishlist/' method='post'>
                                    {% csrf_token %}
                                    <input type='hidden' name='product' value='{{ product.id }}'>
                                    <input type='hidden' name='user' value='{{ user.id }}'>
                                    <button type='submit'
                                            data-toggle="tooltip"
                                            class="add-to-cart wishlist_css"
                                            title="Wishlist">
                                      <i class="icon fa fa-heart"></i>
                                    </button>
                                  </form>
                                </li>
                                <li class="lnk">
                                  <a class="add-to-cart"
                                     href="/category/{{ product.category }}/{{ product.slug }}/"
                                     title="Compare">
                                    <i class="fa fa-signal"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- /.action -->
                          </div>
                          <!-- /.cart -->
                        </div>
                        <!-- /.product -->
                      </div>
                      <!-- /.products -->
                    </div>
                    <!-- /.item -->
                  {% endfor %}
                </div>
                <!-- /.home-owl-carousel -->
              </div>
            </div>
          </section>
          <!-- /.section -->
          <!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
        </div>
        <!-- /.col -->
        <div class="clearfix"></div>
      </div>
      <!-- /.row -->
      <!-- ============================================== BRANDS CAROUSEL ============================================== -->
      <div id="brands-carousel" class="logo-slider">
        <div class="logo-slider-inner">
          <div id="brand-slider"
               class="owl-carousel brand-slider custom-carousel owl-theme">
            <div class="item m-t-15">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand1.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item m-t-10">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand2.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand3.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand4.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand5.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand6.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand2.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand4.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand1.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#" class="image">
                <img data-echo="assets/images/brands/brand5.png"
                     src="assets/images/blank.gif"
                     alt="">
              </a>
            </div>
            <!--/.item-->
          </div>
          <!-- /.owl-carousel #logo-slider -->
        </div>
        <!-- /.logo-slider-inner -->
      </div>
      <!-- /.logo-slider -->
      <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.body-content -->
{% endblock %}
