{% extends 'admin/base.html' %}
{% load static %}

{% block body %}
    <div class='container-fluid'>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href='/product' class="btn btn-info me-md-2 mx-5 my-3" type="button">Add Product</a>
        </div>
        <div class='container'>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                {% for product in products %}
                <tbody>
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href='/product/{{product.id}}/get/'>{{product.name}}</a>
                    </td>
                        <td>
                        <a href='/update_product/{{product.id}}/' style='font-weight:100; color:black;'>
                            <i class="fa fa-pencil"></i></a>
                    </td>
                    <td><a href='/product/{{product.id}}/delete/' action='delete'>Delete</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
  
