{% extends 'admin/base.html' %}
{% load static %}

{% block body %}
<div class='container'>
    <form method="post">{% csrf_token %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{% if form.instance.pk %}Update{% else %}Create{% endif %} Product</h3>
            </div>
        </div>
        <form>
        {% for field in form %}
            <div class="mb-3 row">
                {% if field.id_for_label != "id_product" %}
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                {% endif %}
                <div class="col-sm-10">
                    <span class='form-field'>{{ field }}</span>
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="card-footer">
            <button type="submit" name="save_and_continue" value="False" class="btn btn-primary">Save</button>
            <button type="submit" name="save_and_continue" value="True" class="btn btn-primary">Save and add another</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}

<script>
$(document).ready(function() {
    $('#test').click(function() {
        $('#save_input').val('hello');
    });
});
</script>