{% extends 'admin/base.html' %}
{% load static %}

{% block body %}
  <div class='container mb-5'>
    <div class='row categorie_main'>
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class='card-title font-weight-bold mt-2'>Users</h3>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<form class="d-flex mr-4">
								<input name='q' class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-info" type="submit">Search</button>
							</form>
							<a href="{% url 'add_user' %}"><button type="button" class="btn btn-info me-md-2 mr-5">Add User</button></a>
						</div>
					</div>
					<div class="card-body">
						<table id="users" class="table table-striped">
							<thead>
							<tr>
								<th class="text-center">Username</th>
								<th class="text-center">Email</th>
								<th class="text-center">First Name</th>
								<th class="text-center">Last Name</th>
								<th class="text-center">Role</th>
								<th class="text-center">Actions</th>
							</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td class="text-center">{{ user.username }}</td>
										<td class="text-center">{{ user.email }}</td>
										<td class="text-center">{{ user.first_name }}</td>
										<td class="text-center">{{ user.last_name }}</td>
										<td class="text-center">{{ user.user_role }}</td>
										<td class="text-center">
											<div class='d-flex justify-content-center'>
												<a href="{% url 'update_user' user.id %}" style='font-weight:100; color:black;'>
														<i class='fa fa-pencil text-success'></i>
												</a>
												<span style="margin: 0 5px;"> </span> <!-- Adjust margin for spacing -->
												<form method="POST" action="{% url 'delete_user' user.id %}" onsubmit="return confirm('Are you sure you want to delete the role \'{{ user.username }}\'?');">
														{% csrf_token %}
														<button type="submit" style="border: none; background-color: transparent; cursor: pointer;">
																<i class="fa fa-trash text-danger"></i>
														</button>
												</form>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="card-footer clearfix bg-white justify-content-md-start">
						<ul class="pagination pagination-sm m-0 float-right">
								{% if users.has_previous %}
										<li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
								{% endif %}
								{% for page_num in users.paginator.page_range %}
										<li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
								{% endfor %}
								{% if users.has_next %}
										<li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
								{% endif %}
						</ul>
					</div>
				</div>
			</div>
    </div>
	</div>
{% endblock %}
