{% extends 'admin/base.html' %}
{% load static %}
{% load custom_filter %}
{% load order_filter %}
{% block body %}
<div class='container'>
    <div class='row categorie_main'>
    <div class="col-12 card">
        <div class="card-header"> 
            <h3 class='card-title font-weight-bold mt-2'>Order Items</h3>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <form action='/categories/' class="d-flex mr-4">
                    <input name='q' class="form-control me-2 mr-4" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class='text-center'>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class='text-center'>
                        <th scope="row"><img src="/media/{{ order.cart.product.id|product_attributes }}" width='50px' height='50px' alt=""> </th>
                        <td><a href="/product/{{ order.cart.product.id }}/get/">{{ order.cart.product.name }}</a></td>
                        <td><span>{{ order.cart.product.price }}</span></td>
                        <td>
                            <div class='d-flex justify-content-center'>
                                <!-- <span class='ml-2 mr-2'> 
                                    <a href='/categories/{{ order.id }}/update/' style='font-weight:100; color:black;'>
                                        <i class='fa fa-pencil text-success'></i>
                                    </a>
                                </span> -->
                                <td class="col-md-1 close-btn">
                                    <form method='post' action='/order/cancel/'>{% csrf_token %}
                                        <input type='hidden' name='order' value={{ order.id }}>
                                        <button type="submit" class="btn btn-link"><i class="fa fa-times" style='color:#ff7878;'></i></button>
                                    </form>
                                </td>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix bg-white">
            <ul class="pagination pagination-sm m-0 float-right">
                {% if orders.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for page_num in orders.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                {% if orders.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">&raquo;</a></li>
                {% endif %}
                
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %} 