{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static  'assets/images/logo.png' %}" alt="logo"> </a> 
      {% comment %} <span class="brand-text font-weight-light">AdminLTE 3</span> {% endcomment %}
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% comment %} <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.email}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% if user.is_superuser %}
            <li class="  nav-item {% if request.path == '/admin' %}menu-open{% endif %}">
              <a href="{% url 'admin' %}" class="nav-link {% if request.path == '/admin/' %}active{% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="  nav-item {% if request.path == '/admin/user/index/' %}menu-open{% endif %}">
              <a href="{% url 'user_index' %}" class="nav-link {% if request.path == '/admin/user/index/' %}active{% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  User Management
                </p>
              </a>
            </li>
            <li class="  nav-item {% if request.path == '/admin/role/index' %}menu-open{% endif %}">
              <a href="{% url 'role_index' %}" class="nav-link {% if request.path == '/admin/role/index' %}active{% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Role Management
                </p>
              </a>
            </li>
            <li class="  nav-item {% if request.path == 'admin/permission/index' %}menu-open{% endif %}">
              <a href="{% url 'permission_index' %}" class="nav-link {% if request.path == '/admin/permission/index' %}active{% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Permission Management
                </p>
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="/categories/" class="nav-link {% if 'category' in request.path %}active{% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Categories
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/products" class="nav-link {% if 'product' in request.path %}active{% endif %}">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Products
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
