{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static  'assets/images/logo.png' %}" alt="logo"> </a> 
      {% comment %} <span class="brand-text font-weight-light">AdminLTE 3</span> {% endcomment %}
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% comment %} <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.email}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% if user.is_superuser  %}
            <li class="nav-item">
              <a href="{% url 'admin' %}" class="nav-link {% if request.path == '/admin/' %}active{% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'user_index' %}" class="nav-link {% if 'user' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  User Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'role_index' %}" class="nav-link {% if 'role' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-user-shield"></i>
                <p>
                  Role Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'permission_index' %}" class="nav-link {% if 'permission' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-user-lock"></i>
                <p>
                  Permission Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/categories/" class="nav-link {% if 'categor' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Categories Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/products" class="nav-link {% if 'product' in request.path %} active{% endif %}">
                <i class="nav-icon fas fa-boxes"></i>
                <p>
                  Products Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin_orders" class="nav-link {% if "order" in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-clipboard-check"></i>
                <p>
                  Orders Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/banner" class="nav-link {% if "banner" in request.path %}active{% endif %}">
                <i class="nav-icon fa fa-window-restore"></i>
                <p>
                  Banners Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/facilities/" class="nav-link {% if "facilit" in request.path %}active{% endif %}">
                <i class="nav-icon	fas fa-truck "></i>
                <p>
                  Facilities Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/blog" class="nav-link {% if "blog" in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-blog"></i>
                <p>
                  Blog Management
                </p>
              </a>
            </li>
          {% elif user.user_role.name == 'supplier' %}
            <li class="nav-item">
              <a href="/products" class="nav-link {% if 'product' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-boxes"></i>
                <p>
                  Products Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin_orders" class="nav-link {% if "order" in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-clipboard-check"></i>
                <p>
                  Orders Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/banner" class="nav-link {% if "banner" in request.path %}active{% endif %}">
                <i class="nav-icon fa fa-window-restore"></i>
                <p>
                  Banners Management
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/blog" class="nav-link {% if "blog" in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-blog"></i>
                <p>
                  Blog Management
                </p>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </aside>
