{% extends 'admin/base.html' %}
{% load static %}

{% block body %}
<div class='container'>
  <div class='row categorie_main'>
    <div class="col-12 card">
        <div class="card-body">
          <div class="body-content">
	<div class="container">
		<div class="row">
			<div class="blog-page">
					<div class="blog-post wow fadeInUp">
            <div class="text-center">
                <img class="img-fluid" src="/media/{{ blog.image }}" alt="" >
                </div>
            <h1>{{ blog.title }}</h1>
            <span class="author">{{ blog.user.first_name }} {{ blog.user.last_name }}</span>
            <span class="review">7 Comments</span>
            <span class="date-time">18/06/2016 11.30AM</span>
            <p>{{ blog.description|safe }}</p>
            <div class="social-media">
                <span>share post:</span>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
                <a href="#" class="hidden-xs"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock body %}