.categorie_main {
    width: 1396px;
    margin-top: 53px;
}

.wishlist_css {
    background: inherit;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-stripe>span {
    min-height: 10px !important;
}