.categorie_main {
    width: 1396px;
    margin-top: 53px;
}

.wishlist_css {
    background: inherit;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-stripe>span {
    min-height: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.bold {
    font-weight: 600;
}

.small {
    font-size: 12px !important;
    letter-spacing: 0.5px !important;
}

.Today {
    color: rgb(83, 83, 83);
}

.btn-outline-primary {
    background-color: #fff !important;
    color: #4bb8a9 !important;
    border: 1.3px solid #4bb8a9;
    font-size: 12px;
    border-radius: 0.4em !important;
}

.btn-outline-primary:hover {
    background-color: #4bb8a9 !important;
    color: #fff !important;
    border: 1.3px solid #4bb8a9;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #42A5F5 !important;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 !important;
}

#progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important;
}

#progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
}

#progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
}

#progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

#progressbar li:nth-child(2):after {
    left: 50%;
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
}

#progressbar li:nth-child(3):after {
    left: 25% !important;
    width: 50% !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9;
}

.card {
    background-color: #fff;
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
    z-index: 0;
}

small {
    font-size: 12px !important;
}

.a {
    justify-content: space-between !important;
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.card-footer img {
    opacity: 0.3;
}

.card-footer h5 {
    font-size: 1.1em;
    color: #8C9EFF;
    cursor: pointer;
}

.address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-text {
flex: 1;
}

.div-center{
width:500px;
margin: auto;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.one, .star_1 {
color: rgb(255, 0, 0);
}

.two, .star_2 {
color: rgb(255, 106, 0);
}

.three, .star_3 {
color: rgb(242, 199, 6);
}

.four, .star_4 {
color: yellowgreen;
}

.five, .star_5 {
color: #0ba10b;
}

.header_text_div{
    background: rgba(52, 59, 59, 0.598);
    padding: 20px;
}

.active_header{
    color: white !important;
    font-weight: bolder !important;
}

#editor-toolbar {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 5px;
}
#blog_description {
    border: 1px solid #ccc;
    min-height: 300px;
    padding: 10px;
}
.editor-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}