{% load static %}

{% include "admin/header.html" %}

{% include "admin/sidebar.html" %}

<div class="body-content outer-top-vs mt-5" id="top-banner-and-menu">
    <div class="container">
      {% if messages %}
      <div class="messages">
        <div class="categorie_main">
          {% for message in messages %}
           {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% elif message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% elif message.tags == 'info' %}
               <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <!-- /.container --> 
</div>
{% block body %} {% endblock %}

{% include "admin/footer.html" %}
  