{% extends 'admin/base.html' %}
{% load static %}

{% block body %}
<div class='container'>
	<div class="card mt-5">
        <div class="card-header d-flex justify-content-center">
            <h1 class="card-title font-weight-bold" style='font-size: 30px'>
            {% if form.instance.pk %}Update{% else %}Create{% endif %} Category</h1>
        </div>
        <form method="post">{% csrf_token %}
            <div class="card-body m-2">
                {% for field in form %}
                    {% if field.name != 'user'%}
                    <div class="mb-3 row">
                        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            <span class='form-field'>{{ field }}</span>
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="mb-3 row">
					<div class="col-sm-10">
						<span class='form-field'>
							<input type='hidden' name='user' value={{user.id}}>
						</span>
					</div>
				</div>
                <div class="">
                    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
