{% load static %}

{% include "header.html" %}

<div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div class="container">
    {% if messages %}
      <div class="messages">
          {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
          {% endfor %}
      </div>
      {% endif %}
    {% block body %} {% endblock body %}
  </div>
  <!-- /.container --> 
</div>
<!-- /#top-banner-and-menu --> 


{% include "footer.html" %}