{% load static %}
{% load custom_filter %}
{% load order_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="MediaCenter, Template, eCommerce">
  <meta name="robots" content="all">
  <title>Marazzo premium</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

  <!-- Customizable CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/blue.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/rateit.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            {% if user.is_authenticated %}
            <li class="myaccount"><a href="{% url 'user_profile' %}"><span>My Account</span></a></li>
            <li class="wishlist"><a href="#" id='my_wishlist' ><span>Wishlist</span></a></li>
            <li class="header_cart hidden-xs"><a href="#" id='my_cart'><span>My Cart</span></a></li>
            <li class="check"><a href="#" id="checkoutLink"><span>Checkout</span></a></li>
            
              <li class="logout"><a href="{% url 'logout_user' %}"><span>Logout</span></a></li>
            {% else %}
              <li class="login"><a href="{% url 'login_user' %}"><span>Login</span></a></li>
              <li class="signup_user"><a href="{% url 'signup_user' %}"><span>Sign up</span></a></li>


            {% endif %}
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"> <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">INR </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">INR</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small lang"> <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>

            </li>
          </ul>
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a href="home.html"> <img src="{% static  'assets/images/logo.png' %}" alt="logo"> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->

          <div class="search-area">
            <form id="search-form">
                <div class="control-group" style="padding:1px;">
                    <ul class="categories-filter animate-dropdown">
                      <li class="dropdown"> <a class="dropdown-toggle"  data-toggle="dropdown" href="home/category.html">Categories <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" >
                          {% for category in ""|categories_all %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/category/{{category.name}}">- {{category.name.capitalize}}</a></li>
                          {% endfor %}
                        </ul>
                      </li>
                    </ul>
                    <input class="search-field" name='q' id="search-input" placeholder="Search here..." />
                    <button class="search-button" type='submit' style="padding:18px 25px;"></button>
                </div>
            </form>
        </div>
          
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
         <div class="dropdown dropdown-cart"> <a id='my_cart_checkout' href="{% url 'cart_view' %}" class="dropdown-toggle lnk-cart header_cart hidden-xs"  data-toggle="dropdown">
            <div class="items-cart-inner background-color-danger"  >
              <div class="basket">
                <div class="basket-item-count">
                  <span class="count">
                    {% if user.is_authenticated %}
                    {{ user|current_user_cart_total_quantity }}
                    {% else %}
                      0
                    {% endif %}
                  </span>
                </div>
                
              <div class="total-price-basket"> <span class="lbl">Shopping Cart</span> <span class="value">
                {% if user.is_authenticated %}
                 {{ user|current_user_cart_total_price }}
              {% else %}
                0 INR
              {% endif %}  
              </span> </div>
              </div>
            </div>
            </a>
          </div>
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown"> <a href="/">Home</a> </li>
                {% for category in ""|categories_all %}
                <li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown" 
                  class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                    <ul class="dropdown-menu container">
                      <li>
                        <div class="yamm-content ">
                          <div class="row">
                            {% for subcategory in category|subcategories %}
                            <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                              <h2 class="title"><a href="/category/{{ subcategory }}">{{ subcategory.name }}</a></h2>
                              <ul class="links">
                                {% for sub in subcategory|subcategories %}
                                <li><a href="/category/{{ sub }}">{{ sub }} </a></li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </li>
                    </ul>
                </li>
                {% endfor %}
                <li class="dropdown  navbar-right special-menu"> <a href="#">Get 30% off on selected items</a> </li>
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>

<!-- ============================================== HEADER : END ============================================== -->
<script>
  document.getElementById('my_cart_checkout').addEventListener('click', function() {
    // Redirect to the cart page
    window.location.href = "{% url 'cart_view' %}";
  });
</script>

<script>
  document.getElementById('search-form').addEventListener('submit', function(event) {
      var searchInput = document.getElementById('search-input');
      if (searchInput.value.trim() === '') {
          event.preventDefault();  // Prevent form submission
          alert('Please enter a search query.');  // Show alert message
      }
  });
</script>