        <!-- ============================================== INFO BOXES ============================================== -->
        {% block 'info_box' %}
        <div class="row our-features-box">
            <div class="container text-center">
             <ul class="facility_ul">
               <li>
                 <div class="feature-box">
                   <div class="icon-truck"></div>
                   <div class="content-blocks">We ship worldwide</div>
                 </div>
               </li>
             </ul>
           </div>
         </div>
               <!-- /.info-boxes --> 
          {% endblock 'info_box' %}
               <!-- ============================================== INFO BOXES : END ============================================== --> 
       